html,
body {
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body::-webkit-scrollbar { 
  width: 0 !important;
}

.active {
  overflow: hidden;
}

main {
  padding-bottom: 4rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.button {
  display: flex;
  width: 100%;
  padding: .5rem 1.5rem;
  font-weight: bold;
  border: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  background-color: rgb(250, 58, 58);
  color: white;
  transition: all .2s ease-in-out;
}

.button:disabled {
  color: black;
  background-color: lightgrey;
  cursor: default;
}

.button:disabled:hover {
  color: black;
  background-color: lightgrey;
}

@media screen and (min-width: 450px) {
  .button:hover {
    background-color: rgb(196, 43, 43);
    transition: all .2s ease-in-out;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
